name: Release

on:
  push:
    tags:
      - "v*.*.*"
    branches: master

jobs:
  build:
    name: Release Build
    if: startsWith( github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - name: Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.7"

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Mkdir Bin
        run: mkdir ./bin

      - name: Linux (amd64)
        run: GOOS=linux GOARCH=amd64 CGO_ENABLED=0 go build -o ./bin/garble_linux-amd64 .

      - name: Linux (arm64)
        run: GOOS=linux GOARCH=arm64 CGO_ENABLED=0 go build -o ./bin/garble_linux-arm64 .

      - name: Windows (amd64)
        run: GOOS=windows GOARCH=amd64 CGO_ENABLED=0 go build -o ./bin/garble_windows-amd64.exe .

      - name: Windows (arm64)
        run: GOOS=windows GOARCH=arm64 CGO_ENABLED=0 go build -o ./bin/garble_windows-arm64.exe .

      - name: Darwin (amd64)
        run: GOOS=darwin GOARCH=amd64 CGO_ENABLED=0 go build -o ./bin/garble_darwin-amd64 .

      - name: Darwin (arm64)
        run: GOOS=darwin GOARCH=arm64 CGO_ENABLED=0 go build -o ./bin/garble_darwin-arm64 .

      - name: "Publish Release"
        uses: "bishopfox/action-gh-release@v1"
        with:
          files: |
            ./bin/*
